.container {
  max-width: 960px;
  background: #111222;
  position: sticky;
  color: #ccc;
  z-index: 2000;
  padding-bottom: 50px;
}

h4, h4 .text-primary {
  color: #e6ee9c !important;
}

.form-control {
  font-size: 1rem;
  background-color: rgba(0,0,0,.2);
  color: #ccc;
  border: 1px solid #656;
}

.input-group-text {
  background-color: rgba(0,0,0,.5);
  color: #ccc;
  border-color: #656;
}

.list-group-item {
  background-color: #eee;
}